---
---

.pretitle {
    font-size: 0.5em;
    color: #333;
}

.publication-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}
.row ul li:before {
    content: "–";
    position: absolute;
    left: 0;
}
.more-space-list li {
    margin-bottom: 0.5em;
}

.footer{
    height: initial;
}

.h1-grey {
    color: #666;

}
table, svg {

    margin-top: 1ex;
    margin-bottom: 2ex;
}
table {
    border: none;
}
th, td {
    border: none;
    padding: 4px;
    vertical-align: top;
}
th {
    color: #375a7f;
    border-bottom: 2px solid #000;
}

tr {
    border-bottom: 1px solid #000;
}
th, td {
    padding-right: 15px;
}

code {
    color: #375a7f;
    background-color: #f0f0f0;
}

blockquote {
    font-size: inherit;
}