---
---

.pretitle {
    font-size: 0.5em;
    color: #333;
}

.publication-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}
ul:not(.nav) li:before {
    content: "–";
    position: absolute;
    left: 0;
}
.more-space-list li {
    margin-bottom: 0.5em;
}
