---
---

.pretitle {
    font-size: 0.5em;
    color: #333;
}

.publication-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}
.row li:before {
    content: "–";
    position: absolute;
    left: 0;
}
.more-space-list li {
    margin-bottom: 0.5em;
}

.footer{
    height: initial;
}

.h1-grey {
    color: #666;

}
table {
    border: 1px solid #999;
    border-radius: 5px;
}
th, td {
    border: 1px solid #999;
    padding: 4px;
    vertical-align: top;
}
th {
    background-color: #000;
    color: #fff;
}

tr:nth-child(odd) {
    background-color: #eee;
}

h3 {
    font-weight: normal;
}
